.help {
    height: 1561px;
    &__heading {
        margin-top: 76px;
        margin-bottom: 24px;
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.06em;
        color: rgba(34, 53, 111, 0.5);
    }

    &__list1 {
        display: grid;
        grid-template-columns: repeat(4, 360px);
        grid-template-rows: 360px;
        justify-content: center;
        :first-child {
            background-color: #FFE2DE;
        }
        &-item {
                padding: 95px 50px 0 78px;
                font-size: 32px;
                line-height: 34px;
                letter-spacing: -0.006em;
                color: #FFFFFF;
                font-weight: bold;
                display: flex;
                position: relative;
                &:before {
                    color: #E9B730;
                    content: "•";
                    width: 9px;
                    height: 9px;
                    position:absolute;
                    top: 87px;
                    left: 56px;
                }
                &:after{
                    content:"";
                    display: inline-block;
                    background-color:white;
                    width: 255px;
                    height: 1px;
                    position:absolute;
                    left: 52px;
                    top: 72px;
                }

            &:nth-child(2) {
                background-color:#C4E769;
            }
            &:nth-child(3) {
                background-color:#62D0DF;
            }
            &:last-child {
                background-color:#0052C1;
            }
        }
    }

    &__list2{
        margin-top: 120px;
        height:960px;
        display:grid;
        grid-template-columns: repeat(3, 480px);
        grid-template-rows: repeat(2, 480px);
        justify-content: center;
        &-item{
            padding: 126px 219px 282px 104px;
            font-size: 32px;
            line-height: 34px;
            letter-spacing: -0.006em;
            color: #FFFFFF;
            display: flex;
            font-weight: bold;
            position: relative;
            &:before {
                color: #E9B730;
                content: "•";
                width: 12px;
                height: 12px;
                position:absolute;
                top: 126px;
                left: 77px;
            }
            &:after{
                content:"";
                display: inline-block;
                background-color:white;
                width: 340px;
                height: 1px;
                position:absolute;
                left: 70px;
                top: 96px;
            }
            &:first-child{
                background-color:#22356F;
            }
            &:nth-child(2){
                background-color:#0052C1;
            }
            &:nth-child(3){
                background-image:url(./../images/Help_nutrition_bg.png);
                width: 480px;
                height: 480px;
                background-position: center;
            }
            &:nth-child(4){
                background-color:#62D0DF;
            }
            &:nth-child(5){
                background-color:#DEE1FF;
                ;
            }
            &:last-child{
                background-color:#8F00FF;
            }
        }
    }
}