@font-face {
    font-family: 'Larsseit';
    src: local('Larsseit'),
        url(./../fonts/Larsseit.ttf);
}

html,
body {
    font-family: "Larsseit";
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
}


ul {
    list-style: none;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}


@import './layouts/header';
@import './layouts/menu';
@import './components/buttons';
@import './normalize';