@font-face {
    font-family: 'Larsseit';
    src: local('Larsseit'),
        url(./../fonts/Larsseit.ttf);
}

html,
body {
    font-family: "Larsseit";
    max-width: 1437px;
    margin: 0 auto;
    padding: 0;
}


ul {
    list-style: none;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: inherit;
}


@import './components/buttons';
@import './layouts/header';
@import './layouts/menu';
@import './reasons';
@import './about';
@import './help';
@import './advantage';
@import './fact';
@import './normalize';