button{
    &:hover {
        filter: brightness(115%);
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        -webkit-filter: brightness(115%);
    }
}
.header__btn{
    &--round{
        width: 150px;
        height: 50px;
        background: #62D0DF;
        border-radius: 50px;
        font-family: Larsseit;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        border: none;
        z-index: 1000000000000000;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}
    &--square{
        width: 150px;
        height: 50px;
        background: #F9B640;
        font-size: 16px;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    &--no-bg{
        &#yellow{
            width: 150px;
            height: 43px;
            font-size: 16px;
            line-height: 23px;
            letter-spacing: 0.1em;
            color: #FAB63E;
            margin-left:38px;
            text-align: left;
            padding: 0;
        }
        &#fact{
            margin:0;
        }
        &#assessment{
            margin:0;
            color:#62D0DF;
        }
    }
}
